# Server Configuration
PORT=5000
NODE_ENV=development

# Database Connection (PostgreSQL)
DATABASE_URL="postgresql://postgres:password@localhost:5432/lead_db?schema=public"

# CORS Configuration
CLIENT_ORIGIN="http://localhost:5173"
